@charset "utf-8";
/*$RCSfile: KRfcDoc.css,v $: Cascading style sheet file
  $Revision: 1.3 $ $Date: 2012/01/20 19:19:03 $
  $Author: ddarko $

  RFC articles layout
  Copyright: CommonSoft Inc
  2007-01-08 D. Kolakovic
 */


/*First page header-----------------------------------------------------------*/

.RfcHead1
  {
  font-size: 100%;
  text-align: left;
  margin-top: 0em;
  }

/*Links for printed document */
.RfcPgLnk
  {
  display: none;
  }

/*Remarks or code comments */
.Rem
  {
  color: #127712;
  text-decoration: italic;
  }

/* ///////////////////////////////////////////////////////////////////////// */
/*-----------------------------------------------------------------------------
  $Log:
   1    Biblioteka1.0         2007-01-08 11:34:01  Darko Kolakovic
  $
 */

