@charset "utf-8";
/*$Workfile: KTables.css$: Cascading style sheet file
  $Revision: 4$ $Date: 2007-01-12 11:00:20$
  $Author: Darko Kolakovic$

  Tables layout
  Copyright: CommonSoft Inc
  2005-09-29 D.Kolakovic
 */


/*Table layout --------------------------------------------------------------*/

table
  {
  font-size: 100%;
  text-align: left;
  margin-top: 0em;
  }

/*Table caption
  Example:
    <table summary="Caption Example">
      <caption>Table with caption.</caption>
      <tr><td>Row1</td></tr>
      <tr><td>Row2</td></tr>
    </table>
 */
caption
  {
  font-style:   italic;
  font-size:    0.9em;
  text-indent:  1em;
  text-align:   left; /*center*/
  caption-side: top; /*bottom;*/ /*Doesn't work with IE6*/
  padding:      0;
  margin:       0 2.5em 0.75em;
  border:       none;
  }

/*Table row                                                                  */
tr
  {
  margin: .25em;
  vertical-align: top;
  }
tr.Odd
  {
  background-color: #f0f0e2;
  }
tr.Even
  {
  background-color: #e2f0f0;
  }
tr.Highlight
  {
  background-color: #e4e4e4;
  }

/*Table header cells                                                         */
th
  {
  margin: .25em;
  }
/*highlight class used to change table's background color                    */
th.Highlight
  {
  background-color: #dddddd;
  }

/*Table cells                                                                */
td
  {
  margin: .25em;
  }
td.Highlight
  {
  background-color: #eeeeee;
  }
td.Odd
  {
  background-color: #ffffee;
  }
td.Even
  {
  background-color: #eeffff;
  }

/* ///////////////////////////////////////////////////////////////////////// */
/*-----------------------------------------------------------------------------
  $Log:
   1    Biblioteka1.0         2005-09-29 12:04:20  Darko Kolakovic
  $
 */

