*.aps
*.bak
*.bsc
*.clw
*.cvs
*.dsw
*.dump
*.idb
*.ilk
*.log
*.lst
*.ncb
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.sln
*.suo
*.tmp
*.vcb
*.vcl
*.vco
*.vic
*.~*
bin
obj
Obj
Thumbs.db
~*
~*.*
.DS_Store

