# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.aps
*.APS
*.bak
*.BAK
*.bsc
*.clw
*.cod
*.cvs

*.dump
*.exe
*.exp
*.idb
*.ilk
*.log
*.lst
*.ncb
*.map
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.RES
*.sbr
*.scc
*.SCC

*.suo
*.sym
*.tmp
*.user
*.vcb
*.vcl
*.vco
*.vic
*.vspscc
*.vssscc
*.wrn
*.~*
*.??$
*_i.c
*_p.c
*.xls
.project
Bin
bin
dlldata.c
idl
obj
Obj
OBJ
Thumbs.db
_UpgradeReport_Files
UpgradeLog*.XML
~*
~*.*
_Notes.md
.DS_Store

