# Project specific
_Notes.md
.vs
_noviteti
BabylonLib-build-desktop-Qt_4_7_4_for_Desktop_-_MinGW_4_4__Qt_SDK__Debug

# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
\#*
.#*
,*
_$*
*$
*.old
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.Z
*.elc
*.ln
core
# CVS default ignores end

# OS artifacts
.DS_Store
Thumbs.db

# Editor
*.bak
*.BAK
~*
~*.*
*.~*
*~

*.aps
*.APS
*.bsc
*.clw
*.cod
*.cvs

# MSVC
*.dump
*.exe
*.exp
*.idb
*.ilk
*.log
*.lst
*.ncb
*.map
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.RES
*.sbr
*.scc
*.SCC

*.suo
*.sym
*.tmp
*.user
*.vcb
*.vcl
*.vco
*.vic
*.vspscc
*.vssscc
*.wrn
*.??$
*_i.c
*_p.c
*.xls
.project
Bin
bin
dlldata.c
idl
obj
Obj
OBJ

_UpgradeReport_Files
UpgradeLog*.XML




