*.aps
*.bak
*.bsc
*.clw
*.cvs
*.dump
*.idb
*.ilk
*.log
*.lst
*.ncb
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.suo
*.tmp
*.vcb
*.vcl
*.vco
*.vic
*.~*
bin
Bin
Calc
Complex
Documentation
HTTPUtils
Images
Obj
obj
Random
Resizable
StlTools
Stream
Strings
Thumbs.db
Timer
Utilities
VerInfoTest
WinOSVer
~*
~*.*
