*.aps
*.bak
*.bsc
*.clw
*.cvs

*.dump
*.idb
*.ilk
*.log
*.lst
*.ncb
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.scc

*.suo
*.tmp
*.user
*.vcb
*.vcl
*.vco
*.vic
*.vspscc
*.~*
*_i.c
*_p.c
.project
bin
Bin
dlldata.c
idl
Obj
obj
Thumbs.db
~*
~*.*

Calc
Complex
Documentation
HTTPUtils
Images
Random
Resizable
StlTools
Stream
Strings
Timer
Utilities
VerInfoTest
WinOSVer
