*.plg
*.pch
*.obj
obj
Obj
bin
*.res
*.ncb
*.opt
*.ilk
*.pdb
*.aps
~*
~*.*
*.~*
*.tmp
*.old
*.bak
 *.sbr
 *.idb
*.bsc
*.log
*.lst
*.cvs
*.suo
*.clw
*.vcb
*.vco
 Thumbs.db
*.vcl
*.vic
*.dump
Calc
Complex
Documentation
HTTPUtils
Images
Random
Resizable
Stream
StlTools
Strings
Timer
VerInfoTest
WinOSVer
Utilities
