*.aps
*.bak
*.bsc
*.clw
*.cvs
*.dump
*.idb
*.ilk
*.log
*.lst
*.ncb
*.obj
*.Old
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.SCC
*.scc
*.suo
*.tmp
*.vcb
*.vcl
*.vco
*.vic
*.vspscc
*.~*
*_i.c
*_p.c
.project
_SrcPool.vbw
Bin
bin
CVS
cvs
dlldata.c
idl
Obj
obj
Thumbs.db
~*
~*.*
