*.aps
*.bak
*.bsc
*.clw
*.cvs
*.dll
*.dsw
*.dump
*.exp
*.idb
*.ilk
*.lib
*.log
*.lst
*.ncb
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.scc
*.sln
*.suo
*.tmp
*.vcb
*.vcl
*.vco
*.vic
*.vspscc
*.~*


.project
bin
Bin

idl
Obj
obj
Thumbs.db
~*
~*.*
