*.aps
*.bak
*.bsc
*.clw
*.cvs
*.dump
*.idb
*.ilk
*.log
*.lst
*.ncb
*.obj
*.Old
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.SCC
*.scc
*.suo
*.tmp
*.vcb
*.vcl
*.vco
*.vic
*.vspscc
*.~*
*_i.c
*_p.c
.project
Bin
debug
Debug
CVS
cvs
dlldata.c
idl
Obj
obj
release
Release
Thumbs.db
~*
~*.*

*.moved-aside
*.DS_Store
*.swp
*.lock
*~.nib

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

.git
.gitignore
._*
build
DerivedData
profile
xcuserdata
__MACOSX

