*.plg
*.pch
*.obj
obj
bin
CVS
cvs
*.res
*.ncb
*.opt
*.ilk
*.pdb
*.aps
~*
~*.*
*.~*
*.tmp
*.old
*.Old
*.bak
 *.sbr
 *.idb
*.bsc
*.log
*.lst
*.cvs
*.suo
*.clw
*.vcb
*.vco
 Thumbs.db
*.vcl
*.vic
*.dump
