*.aps
*.bak
*.bsc
*.clw
*.ctx
*.cvs
*.dump
*.idb
*.ilk
*.log
*.lst
*.ncb
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.sln
*.suo
*.tmp
*.vbw
*.vcb
*.vcl
*.vco
*.vic
*.vspscc
*.~*
*_i.c
*_p.c
bin
Bin
dlldata.c
idl
obj
Obj
Thumbs.db
~*
~*.*
.DS_Store

